*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    color: green;
}
.ap{
    width:130px;
    display: inline-block;
}
.aditya{
    margin-top: 3%;
}
.saket{
     margin-top: 1%;
}
hr{
    margin-top: 10%;
}
 ul{
    text-align: center;
    margin-top: -12%;
    margin-right: 25%;
}
nav input{
    float: right;
    display: inline-block;
    margin-right: 3%;
    border-radius: 15px;
    border: 2px solid red;
}
